In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.ar_model import AutoReg
from statsmodels.tsa.arima_model import ARIMA

import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical
from tensorflow.keras import backend
from tensorflow.keras import Model, Sequential
from tensorflow.keras.models import model_from_json
from tensorflow.keras.layers import Input, SimpleRNN, Embedding, Dense, TimeDistributed, GRU, \
                                    Dropout, Bidirectional, Conv1D, BatchNormalization

print(tf.keras.__version__)
print(tf.__version__)

/Users/zihaoxu/ENTER/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

2.2.4-tf
2.0.0

In [11]:
flu_df = pd.read_csv('../data/flu_data.csv').sort_values('date')
print(flu_df.shape)
flu_df.head()

(461, 54)

,date,Texas,Louisiana,Washington,New Jersey,Arkansas,Montana,North Dakota,Virgin Islands,Nebraska,...,Nevada,Idaho,Utah,Virginia,New York,District of Columbia,Oklahoma,South Dakota,New York City,Colorado
0,2010-40,2.06514,2.28108,0.510041,2.31534,0.696056,0.037119,0.671355,NaN,2.199780,...,1.66683,0.414938,0.747696,1.14343,0.262990,2.80877,0.624179,1.102750,1.18222,0.660684
1,2010-41,2.09394,2.04776,1.040070,2.47836,0.674157,0.180963,0.721961,NaN,2.735320,...,1.63633,1.457980,0.410939,1.23653,0.369729,2.89079,0.958678,0.793794,1.40230,0.628621
2,2010-42,2.10072,2.42974,0.904393,2.24812,0.514217,0.185874,0.567477,NaN,3.311030,...,1.50860,1.408140,0.440583,1.22545,0.362121,2.41042,2.070390,0.791023,1.29124,0.804020
3,2010-43,2.20655,1.92854,0.955110,2.79286,0.413650,0.036390,0.339239,NaN,2.057610,...,2.14451,1.280070,0.755957,1.26902,0.358981,3.11632,1.670730,0.801311,1.30236,0.909658
4,2010-44,2.36381,2.80934,0.786370,1.82877,1.090280,0.040519,0.713749,NaN,0.376712,...,1.76761,1.827240,0.651859,1.26547,0.527357,2.99118,1.628450,0.779833,1.51508,0.971705

In [6]:
texas_google = pd.read_csv('../data/texas_google.csv')
newyork_google = pd.read_csv('../data/newyork_google.csv')
print(texas_google.shape)
print(newyork_google.shape)

(120, 97)
(120, 97)

In [7]:
texas_google.head()

,date,flu,treating flu,medicine for the flu,high fever,is the flu contagious,get over the flu,medicine for flu,how to get rid of the flu,fever cough,...,flu a symptoms,flu in children,do i have the flu,i have the flu,influenza incubation period,flu season,oscillococcinum,what is the flu,low body,remedies for the flu
0,2010-01-01,11,0,6,53,6,0,6,6,25,...,17,0,4,4,0,4,2,6,29,0
1,2010-02-01,9,0,6,32,6,7,7,7,23,...,0,9,0,2,0,2,3,6,39,0
2,2010-03-01,6,6,0,39,6,0,0,0,15,...,12,0,8,2,0,0,2,8,32,0
3,2010-04-01,6,0,0,74,0,0,13,0,13,...,4,0,0,2,2,3,2,17,19,0
4,2010-05-01,3,0,0,71,0,0,0,0,13,...,0,4,0,2,0,0,2,4,30,4

In [8]:
pd.merge(flu_df, texas_google, on = 'date', how = 'left')

,date,Texas,Louisiana,Washington,New Jersey,Arkansas,Montana,North Dakota,Virgin Islands,Nebraska,...,flu a symptoms,flu in children,do i have the flu,i have the flu,influenza incubation period,flu season,oscillococcinum,what is the flu,low body,remedies for the flu
0,2010-40,2.06514,2.281080,0.510041,2.31534,0.696056,0.037119,0.671355,NaN,2.199780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-41,2.09394,2.047760,1.040070,2.47836,0.674157,0.180963,0.721961,NaN,2.735320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-42,2.10072,2.429740,0.904393,2.24812,0.514217,0.185874,0.567477,NaN,3.311030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-43,2.20655,1.928540,0.955110,2.79286,0.413650,0.036390,0.339239,NaN,2.057610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-44,2.36381,2.809340,0.786370,1.82877,1.090280,0.040519,0.713749,NaN,0.376712,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2010-45,2.51778,2.085770,1.067240,2.20310,1.197360,0.243902,0.758110,NaN,2.961080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2010-46,2.24622,2.815060,1.331320,2.13716,1.554620,0.109930,0.644192,NaN,2.423030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2010-47,2.59866,2.927060,1.873330,2.41758,2.025990,0.537057,0.590551,NaN,0.614754,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2010-48,2.56617,2.664820,0.981767,2.60116,1.392950,0.038052,0.347088,NaN,2.815700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2010-49,2.40335,2.804860,0.964630,2.65371,1.020640,0.035945,0.237530,NaN,2.462120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2010-50,2.84097,3.379390,0.647549,3.20073,2.105510,0.077280,0.317628,NaN,3.237100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2010-51,3.87315,3.826380,0.387097,4.64380,3.611630,0.062422,0.275672,NaN,2.220630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2010-52,3.40711,5.630710,2.459020,4.91358,2.577100,0.234926,0.000100,NaN,3.828830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2011-01,3.21248,4.388390,1.522400,3.95271,3.367380,0.000100,0.264901,NaN,3.006190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2011-10,3.68025,3.540240,3.049460,5.05526,2.610150,0.801165,4.218010,NaN,5.889570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2011-11,2.84749,3.352630,3.642710,4.68859,3.269130,0.815376,2.216620,NaN,2.895170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2011-12,3.11250,2.916830,3.060810,3.41036,2.313620,0.835189,2.263970,NaN,1.563520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2011-13,2.13536,1.826570,1.546960,4.60678,1.663250,0.466200,0.846702,NaN,1.161050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2011-14,1.83216,2.484970,0.798580,3.39574,0.850906,0.279330,0.721848,NaN,0.894234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2011-15,1.67025,1.485670,0.970497,2.74671,0.438757,0.235018,0.794439,NaN,1.439390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2011-16,1.66212,1.537600,1.387140,2.79318,0.675676,0.029788,0.399734,NaN,1.054220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2011-17,1.44540,1.900880,0.649087,2.76842,0.455754,0.000100,0.210416,NaN,0.513834,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2011-18,1.62718,1.506960,0.720721,2.01081,0.630347,0.000100,0.246305,NaN,0.421546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2011-19,1.78830,0.747833,0.580781,2.22222,0.711744,0.000100,0.068353,NaN,0.283286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2011-02,4.05996,5.720400,1.219060,4.97268,4.846720,0.221926,0.118133,NaN,2.959390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2011-20,1.43878,1.080100,0.498132,2.69103,0.520382,0.000100,0.342759,NaN,0.395062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2011-21,1.18284,1.152400,0.180180,2.94975,1.036270,0.000100,0.000100,NaN,0.185071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2011-22,1.47219,0.851813,0.297177,2.52839,0.939306,0.000100,0.162075,NaN,0.183374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2011-23,1.03810,0.968153,0.332226,2.77982,0.686642,0.000100,0.000100,NaN,0.330251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2011-24,1.20398,1.149430,0.268097,3.07871,0.926999,0.000100,0.000100,NaN,0.087566,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,2019-10,8.72284,8.472620,3.288710,4.69154,4.958900,3.165290,4.525240,1.333330,2.970120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432,2019-11,7.81343,6.589290,4.594970,4.49555,5.557030,3.425350,3.375990,1.492540,3.070950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433,2019-12,5.79463,5.470450,3.772620,4.06803,4.832290,2.263490,2.788740,1.246540,2.414020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,2019-13,4.89506,4.764150,2.338980,3.69940,3.505660,1.988540,2.010180,1.152740,2.604170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,2019-14,4.40566,4.034810,1.469510,3.44312,2.739730,1.239890,2.421170,0.682128,2.514890,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,2019-15,3.94129,3.497410,0.857093,3.20178,1.899710,1.138750,1.548420,1.339290,2.064930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,2019-16,3.42261,3.088570,0.706952,2.65269,1.748420,0.886171,1.403890,0.310078,1.886570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,2019-17,2.70961,2.925580,0.411100,2.51062,1.412740,0.852827,0.997151,0.146413,1.516360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,2019-18,2.55929,2.499760,0.555024,2.35408,1.549370,0.662583,1.080950,0.647948,1.589910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,2019-19,2.50535,2.440350,0.509580,2.14652,1.327430,0.699205,0.718804,0.557414,1.558380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,2019-02,4.66314,3.998420,1.454930,5.19395,2.210190,1.560680,1.505380,2.500000,6.203580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442,2019-20,2.50115,2.695180,0.383632,2.33124,1.449280,0.830827,0.838518,0.521921,1.284230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,2019-21,2.90345,2.468840,0.507731,2.19421,1.193890,0.822529,1.975680,0.615385,1.434740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444,2019-22,2.22547,2.332440,0.597558,2.28107,0.884173,0.676841,1.094030,0.000100,1.368080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445,2019-23,2.21661,2.085490,0.543607,1.98396,1.674480,0.751001,1.402740,0.213904,1.093190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,2019-24,2.26458,1.819310,0.342827,2.03344,1.159420,0.645876,0.363526,0.000100,1.096680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,2019-25,1.97300,1.784230,0.260213,1.78061,0.626959,0.418702,0.761267,0.105708,1.029290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448,2019-26,1.97842,1.829900,0.182959,1.78454,0.590319,0.356355,0.330430,0.433839,0.896080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,2019-27,1.82690,1.782890,0.539926,1.79779,0.615385,0.504686,0.442087,0.326087,1.006040,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450,2019-28,1.65596,1.853630,0.353838,1.61793,0.288184,0.538073,0.344234,0.216216,0.773495,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,2019-29,1.49702,1.730310,0.265041,1.43867,0.727069,0.478878,0.164783,0.220751,0.987686,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
452,2019-03,5.57504,4.193860,1.607660,5.42867,2.613450,1.635840,2.895320,4.340120,8.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453,2019-30,1.79673,1.762900,0.363840,1.32749,0.714286,0.437828,0.386100,0.162338,1.047330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
454,2019-31,2.51025,1.745220,0.195914,1.37455,1.042750,0.385675,0.000100,0.176367,0.823990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455,2019-04,7.07857,5.126700,1.879490,5.73364,4.430680,2.022730,2.406940,2.216750,7.498060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,2019-05,8.58413,7.725970,2.151240,5.77458,5.840740,2.368010,3.554500,2.054790,6.784260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457,2019-06,10.16500,10.544800,2.166600,5.71163,8.125590,3.190650,3.119530,1.993960,6.692910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,2019-07,10.20700,11.740200,3.328630,5.48471,8.535700,3.566320,3.455060,0.598205,5.447690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,2019-08,9.25449,11.197600,2.221080,5.43170,8.865050,3.792440,4.854370,0.837521,5.026670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,2019-09,9.54986,9.224890,2.242440,4.66111,8.048920,3.633260,4.862980,0.924974,3.835950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN